registry=https://mirrors.huaweicloud.com/repository/npm/
@career:registry=https://devrepo.devcloud.huaweicloud.com/artgalaxy/api/npm/cn-north-1_0ba4fc4d0000f5e10f91c014cf536100_npm_0/
always-auth=true
//devrepo.devcloud.huaweicloud.com/artgalaxy/api/npm/cn-north-1_0ba4fc4d0000f5e10f91c014cf536100_npm_0/:_auth=Y24tbm9ydGgtMV8wYmE0ZmM0ZDAwMDBmNWUxMGY5MWMwMTRjZjUzNjEwMF8wZDY5ZTU1NzQ3ODBmM2U0MWY5NmMwMTQwYjRlYzM2MzpRNWs9NHNfVC1h